{% extends 'bases.html' %}

{%  block content %}
<div class="container">
  <div class="jumbotron">
    {% if liste_dico_msg|length == 1 %} {# pour l'envoi d'un seul message #}
        
        {% if valide == '0' %}
        <div class="alert alert-info">
          <strong>Info!</strong> <p>  {{message.sender}} votre message <strong>{{message.msg}}</strong>  à été envoyé au {{ message.numero }}  </p> 
         </div>
        {% else %}
          <div class = "alert alert-danger">
             <strong>Info!</strong> <p>  {{message.sender}} votre message <strong>{{message.msg}}</strong>  n'a pas été envoyé au {{ message.numero }}! Contactez l'administrateur </p>      
         </div>
          {% endif %}
    
    {% else %} {# pour l'envoi multiple #}
    
          {% if liste_numero_envoi_reussi|length != 0  %}    
             <div class="alert alert-info">
                 <strong>Info!</strong> <p>  {{message.sender}}   <strong>{{ liste_numero_envoi_reussi|length }} message{{liste_numero_envoi_reussi | pluralize}} </strong> ont  été envoyé avec succés! Merci de votre confiance </p> 

             </div>
          {% elif liste_numero_envoi_echec|length != 0 %}
    
              <div class = "alert alert-danger">
                  <strong>Info!</strong> <p>  {{message.sender}}   <strong> {{liste_numero_envoi_echec|length}} message{{liste_numero_envoi_echec | pluralize}}  </strong>  n'ont pas été envoyé !Merci de  Contacter l'administrateur </p>      

              </div>
           {% endif%}
    
    {% endif %}
    
    <div class="btn-group " >
	 <a href="{% url "lister_message_multi" %}" class="btn btn-info" role="button">Retour</a>
       </div>
       {#{{reponse}}#}

  </div>
  {# Afficher la liste des numéros qui ont échoues à l'envoi #}
  {% if liste_numero_envoi_echec|length >= 2 %}
  
  <div class="jumbotron"  >
    <div class= "alert alert-info" >
      <p> Numéros échoués: </p> <br>
    {% for num in liste_numero_envoi_echec %}
    {% if not forloop.first %}, {% endif %}
      {{ num}}
    {% endfor %}
    </div>
  
  </div>
  {% endif %}
 </div>
   
{% endblock %}
