{% extends 'bases.html' %}
{% load bootstrap3 %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
          <form class=""  action=""  method="post">
	    {% csrf_token %}
	    {#{form.as_p }#}
            {% bootstrap_field form.numero %}
            {% bootstrap_field form.groupe_numeros %}
            {% bootstrap_field form.sender %}
            {% bootstrap_field form.message %}
	    <input  class=" btn btn-lg btn-primary btn-bloc" type="submit" value="valider"/>

	  </form>

         </div>
      </div>
  </div>
{% endblock %}
