{% extends 'bases.html' %}

{%  block content %}
<div class="container">
  <div class="jumbotron">
    <div class="alert alert-info">
      <strong>Info!</strong> Vous êtes sur le point de  suprrimer ce contact !.
      </div>
     <form action="" method="post"  >

       {{ contact_supprimer.nom }} - {{ contact_supprimer.prenom }} -> (créée le {{ contact_supprimer.date_added|date:"DATE_FORMAT" }})
       {% csrf_token %}
       {{ form.as_p }}
       <div class="btn-group " >
	 <input type="submit" class="btn btn-danger"  value="Supprimer"/>
	 <a href="{% url "lister_contact" %}" class="btn btn-info" role="button">Retour</a>

       </div>

     </form>
   </div>

{% endblock %}
